<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <title>Edycja ogłoszenia</title>
</head>
<body>
<div class="container">

    <div class="row" style="margin-top: 40px; margin-bottom: 10px">
        <div class="col-1"></div>
        <div class="col-6"><h2>Edycja ogłoszenia</h2></div>
        <div class="col-5"></div>
    </div>

    <div class="row form-div">
        <div class="col-2"></div>
        <div class="col-8">

            <form method="post" th:action="@{/edit-advert}">
                <input type="hidden" name="id" th:value="${advert.id}"/>
                <p>
                    <label>Tytuł:
                        <input type="text" name="title" th:value="${advert.title}"/>
                    </label>
                </p>
                <p>
                    <label>Opis:
                        <textarea name="description" cols="80" rows="6" th:text="${advert.description}"></textarea>
                    </label>
                </p>
                <p>
                    <button type="submit">Edytuj</button>
                </p>
            </form>

        </div>
        <div class="col-2"></div>
    </div>

</div>
</body>
</html>